@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #d3d3d3;
    background-size: cover;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
header div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#title{
    text-shadow: rgb(0, 255, 208) 0.1em 0.1em 0.2em;
    text-align: center;
    font-size: 5rem;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 4rem;
    font-weight: bold;
}
nav{
    text-shadow: black 0.1em 0.1em 0.2em;
    font-family: 'Roboto Condensed', sans-serif; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    background-color: rgb(0, 0, 0);

}
a{
    text-decoration: none;
    color: white;
}
nav ul{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
}
nav ul li{
    font-size: 1.5rem;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    height: fit-content;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    height: fit-content;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #3b393936;
}
#main-title{
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-family: 'Roboto Condensed', sans-serif; 
    font-weight: bold;
    color: #fff;
    text-shadow: -2px 2px 0 #2d2d2d;
    margin: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
tr{
    font-size:20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
    font-family: 'Roboto Condensed', sans-serif;
}
button{
    background-color: rgb(9, 9, 9);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
}
.modal{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 300vh;
    background-color: #0000006f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;
}

.corpoModal{
    font-family: 'Roboto Condensed', sans-serif; 
    text-shadow: rgba(146, 143, 143, 0.685) ;
    position: relative;
    border: 1px solid #000;
    border-radius: 20px;
    top: 20vh;
    width: 30vw;
    height: 38 vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d3d3d3;
    letter-spacing: 0.3em;
    
}
.oculto{
    display: none;
}
#addcarrinho{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#btFechar {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#btFechar:hover {
    background-color: #999
}
#limpar{
    background-color: #e8490b;
    color: #000000;
    padding: 10px;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    font-weight: bold;
}